<div class="mat-app-background basic-container">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card" >
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          <h3 class="title-center">Registro de Pensamientos Disfuncionales</h3>
        </mat-card-title>
        
        <mat-card-content>
          <div class="rpdtable-container mat-elevation-z8">
            <div class="rpdtable-loading-shade"
                *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="rpdtable-rate-limit-reached" *ngIf="isRateLimitReached">
                API rate limit has been reached. It will be reset in one minute.
              </div>
            </div>

            <div class="rpdtable-table-container">
              <table mat-table [dataSource]="data" class="rpdtable-table"
                    matSort matSortActive="fecha" matSortDisableClear matSortDirection="desc" style="text-align: center;">
                              
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef>Fecha</th>
                  <td mat-cell *matCellDef="let row">{{row.fecha | date:'fullDate'}}</td>
                </ng-container>

                
                <ng-container matColumnDef="situacion">
                  <th mat-header-cell *matHeaderCellDef>Situacion</th>
                  <td mat-cell *matCellDef="let row">{{row.situacion}}</td>
                </ng-container>

                
                <ng-container matColumnDef="pensamiento">
                  <th mat-header-cell *matHeaderCellDef>
                    Pensamiento
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.pensamiento}}</td>
                </ng-container>
                
                <ng-container matColumnDef="emocion">
                  <th mat-header-cell *matHeaderCellDef>
                    Emocion
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.emocion}}</td>
                </ng-container>

                <ng-container matColumnDef="respuesta">
                  <th mat-header-cell *matHeaderCellDef>
                    Respuesta
                  </th>

                  <td mat-cell *matCellDef="let row">
                    <a type="button" matTooltip="Ver preguntas" (click)="respuestaDialog(row)">
                      <mat-icon class="icon">reorder</mat-icon>
                    </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="resultado">
                  <th mat-header-cell *matHeaderCellDef>
                    Resultado
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.resultado}}</td>
                </ng-container>

                <ng-container matColumnDef="opciones">
                  <th mat-header-cell *matHeaderCellDef>
                  Opciones
                  </th>
                  <td mat-cell *matCellDef="let row">
                  <a type="button" matTooltip="Editar" (click)="openDialog(row)">
                    <mat-icon class="icon">edit</mat-icon>
                  </a>
                  </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
